

.swal-overlay {
  background-color: rgb(216, 115, 246);
}

.swal-text {
  background-color: rgb(220, 105, 241);
  padding: 17px;
  border: 1px solid rgb(159, 165, 165);
  display: block;
  margin: 22px;
  text-align: center;
  font-family: monospace;
  color: hsl(0, 0%, 100%);
}
